a {color: #575756;}
a:hover {color: #868686;}
.active a {border-bottom: 4px solid #ea5b28;}
body {background-image: url(../Image/pinnar1.png),
      url(../Image/sauce.png); background-position: top, bottom;  background-size: contain, contain; background-repeat: no-repeat, no-repeat; max-width: 750px; margin: auto; text-align: left;}
.line-breake-dumpling {max-height: 1.2em; max-width: 100%;}

.navbar {
	background-image: url(../Image/bg.jpg)
}


td {
	padding: 1em;
}
